@import "compass";

* {
    @include box-sizing("border-box");
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #000;
}

a {
    cursor: pointer;
}

.application {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.menu {
    z-index: 3;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 200px;
    color: #fff;
    @include background(linear-gradient(#222, #111));
    //@include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
    border-right: 1px solid #fff;

    .title {
        padding: 10px 20px;
        line-height: 32px;
        font-weight: bold;
        text-align: center;
        color: #999;
    }
    
    .text {
        padding: 30px 20px 10px 20px;
        color: #999;
    }
    
    ul {
        padding: 0px;
        margin: 0px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        
        li {
            list-style: none;
            
            a {
                display: block;
                padding: 10px 20px;
                color: #fff;
                font-size: 16px;
                line-height: 26px;
                text-decoration: none;
                @include text-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                
                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}

.panel-header {
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 52px;
    font-size: 24px;
    line-height: 32px;
    margin: 0px;
    padding: 10px 20px;
    @include background(linear-gradient(#444, #222));
    @include text-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
    color: #fff;
    font-weight: normal;
    text-align: center;
    
    .back {
        position: absolute;
        top: 16px;
        left: 20px;
        margin: 0;
        border-top: 10px solid transparent;
        border-left: 0;
        border-right: 20px solid #fff;
        border-bottom: 10px solid transparent;
        padding: 0;
        width: 0;
        height: 0;
        
        &:hover {
            border-right-color: rgba(255, 255, 255, .85);
        }
    }
}

.content {
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 200px;
    overflow: hidden;
}

.panel, .panel-outer {
    position: absolute;
    top: 52px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}
.panel, .panel-inner {
    padding: 20px;
    background-color: #fff;
}